body {
  background: #a19fb967;
}

.article {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.article__title {
  font-size: 3rem;
  margin-bottom: 70px;
}

.colored {
  color: #1241dd;
  font-weight: 800;
}

/* .article> .colored:nth-of-type(1){
  font-size: 2rem;
  color: rgb(77, 179, 77);
} */

.article > :nth-child(1 of .colored) {
  font-size: 2rem;
  color: rgb(77, 179, 77);
}

/* .article> :nth-child(2n of .colored) {
  font-size: 2rem;
  color: rgb(77, 179, 77);
}  */